<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>좋아요 테스트</title>
    <th:block th:replace="frame/header :: head"></th:block>
    <!-- JavaScript 파일 링크 -->
    <script th:src="@{/js/like.js}"></script>

</head>
<body>
<header th:replace="frame/header :: header"></header>
<h1>좋아요 버튼 테스트</h1>

<!-- 아이템 정보 (테스트를 위해 직접 작성) -->



<a class="btn btn-success text-white" >
    <i class="far fa-heart"></i>
</a>
<a class="btn btn-success text-white" >
    <i class="fas fa-heart"></i>
</a>



좋아요 연동 테스트
<!-- 좋아요 버튼 시작 -->
<!--맴버아이디 하드코딩-->
<input type="hidden" id="memberId" th:value="1">
<input type="hidden" id="itemId" th:value="${itemId}">
<button class="like-button btn btn-success text-white">
    <i class="fas fa-heart"></i>
</button>
<!-- 좋아요 버튼 끝 -->


<!-- 상태 표시 영역 -->
<div id="likeStatus" class="like-status"></div>

<footer th:replace="frame/footer :: footer"></footer>
</body>
</html>