<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="frame/header :: head">
    <title>Zay Shop - Product Listing Page</title>
</head>
<body>
<!--header-->
<header th:replace="frame/header :: header"></header>

<!-- Start Content -->
<div class="container py-5">
    리뷰수정
</div>
<!-- End Content -->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Summernote 스타일 및 스크립트 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>

<!-- JS 파일 포함 -->
<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/summernote-lite.js"></script>
<script src="/js/summernote-ko-KR.js"></script>
<script src="/js/item/itemReview.js"></script>
<script src="/js/item/itemRatingsPost.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
    .rating-stars {
        font-size: 24px; /* 별 아이콘 크기 */
        color: #ccc; /* 비어 있는 별 색상 */
        cursor: pointer; /* 포인터 커서 추가 */
    }
    .filled-star {
        color: gold; /* 채워진 별 색상 */
    }
</style>

<!-- Start Contact -->
<div class="container py-5">
    <div class="row justify-content-center py-5">
        <!-- 폼 요소들 -->
        <div class="col-lg-8">
            <div class="row">
                <input type="hidden" id="itemReviewId" th:value="${itemReview.itemReviewId}">

                <div class="form-group mb-3">
                    <label for="itemReviewName">제목</label>
                    <input type="text" class="form-control mt-1" id="itemReviewName" name="itemReviewName" th:value="${itemReview.itemReviewName}" placeholder="제목">
                </div>

                <div class="container">
                    <div id="starRating" class="mt-3" data-rating="${itemReview.itemScore}">
                        <!-- 별 아이콘이 동적으로 추가될 위치 -->
                    </div>
                    <input type="hidden" id="itemScore" name="itemScore" th:value="${itemReview.itemScore}" value="0">
                </div>



            </div>

            <div class="mb-3">
                <label for="itemReviewContent">내용</label>
                <textarea class="form-control" id="itemReviewContent" name="itemReviewContent" th:text="${itemReview.itemReviewContent}" rows="10"></textarea>
            </div>


            <!-- 글 등록 버튼 -->
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="button" id="btn-itemReviewUpdate" class="btn btn-success btn-lg px-3">리뷰수정</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact -->

<footer th:replace="frame/footer :: footer"></footer>
</body>
</html>
