<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <link rel="apple-touch-icon" href="/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var msg = /*[[${msg}]]*/ '';
    var url = /*[[${url}]]*/ '';
    Swal.fire({
                text: msg,
                icon: 'warning',
                iconColor: '#00bf63',
                confirmButtonColor: '#007bff',
                confirmButtonText: '확인'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            });
    ;
    /*]]>*/
</script>
</body>
</html>
