<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frame/header :: head">
    <title>양박정성</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- 아엠포트 -->
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script th:src="@{/js/payment.js}"></script>
<header th:replace="frame/header :: header"></header>
<style>
    .card-img-fixed {
    height: 318px; /* 원하는 높이로 설정 */
    width: 100%; /* 너비를 100%로 설정하여 부트스트랩 카드에 맞춤 */
    object-fit: cover; /* 이미지가 요소에 맞춰 잘리지 않고 조정됨 */
}
</style>

<div th:each="payment : ${payments}" class="payment-item">
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img-fixed"
                             src="https://search.pstatic.net/common/?src=http%3A%2F%2Fpost.phinf.naver.net%2FMjAxOTExMTZfMTc3%2FMDAxNTczOTEwODgyNjU4.Wl1nN5Df_0-z0NlUdDpKzJV7gPFTzTZ2lk7EzubAVZEg.MUr5wpdqt50r4qM2O8CUs27O1aVIglH6yiGW0IcJ9RMg.JPEG%2FII-B0VbhmEgIF80dSru92g785_Ao.jpg&type=sc960_832"
                             alt="Card image cap"
                             id="product-detail">
                    </div>
                    <div class="row">

                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">결제내역</h1>

                            <br>

                            <h6>주문 날짜 : <span th:text="${#temporals.format(payment.payDate, 'yyyy-MM-dd')}"></span></h6>

                            <h6>총 주문 가격 : <span th:text="${payment.payPrice}"></span></h6>

                            <h6>주문 번호 : <span th:text="${payment.payId}"></span></h6>

                            <h6>주문 상태 : <span th:text="${payment.payStatus}"></span></h6>


                            <!-- 주문 취소 버튼 -->
                            <div class="row mt-3">
                                <div class="col">
                                    <!-- 주문 상태가 'OK' 일때만 버튼 표시 -->
                                    <input type="hidden" th:data-pay-id="${payment.payId}">
                                    <button class="btn btn-danger cancel-button" th:if="${payment.payStatus.name() == 'OK'}">주문 취소</button>
                                </div>
                            </div>
                            <!--주문취소버튼 끝-->

                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->

</div>
<!-- 페이지네이션 시작-->
<ul class="pagination justify-content-center">
    <li class="page-item" th:classappend="${currentPage == 0} ? disabled">
        <a class="page-link" th:href="@{/ypjs/payment/list/{memberId}(memberId=${memberId}, page=0, size=${size})}">&laquo;</a>
    </li>
    <li class="page-item" th:classappend="${currentPage == 0} ? disabled">
        <a class="page-link" th:href="@{/ypjs/payment/list/{memberId}(memberId=${memberId}, page=${currentPage - 1}, size=${size})}">&lsaquo;</a>
    </li>
    <li th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${pageNum == currentPage} ? 'active'">
        <a class="page-link" th:href="@{/ypjs/payment/list/{memberId}(memberId=${memberId}, page=${pageNum}, size=${size})}" th:text="${pageNum + 1}"></a>
    </li>
    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? disabled">
        <a class="page-link" th:href="@{/ypjs/payment/list/{memberId}(memberId=${memberId}, page=${currentPage + 1}, size=${size})}">&rsaquo;</a>
    </li>
    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? disabled">
        <a class="page-link" th:href="@{/ypjs/payment/list/{memberId}(memberId=${memberId}, page=${totalPages - 1}, size=${size})}">&raquo;</a>
    </li>
</ul>
<!-- 페이지네이션 끝-->
<footer th:replace="frame/footer :: footer"></footer>
</body>
</html>
