<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="frame/header :: head">
</head>

<body>
<!--header-->
<header th:replace="frame/header :: header"></header>

<!-- Start Content -->
<div class="container py-5">
</div>
<!-- End Content -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<center><h1> 공지사항 </h1> </center>
<div class="container mt-3">
<!--    <div id="searchForm">-->
<!--        <form action="/notice/searchNotice" method="GET" class="form-inline">-->
<!--            <input type="text" name="keyword" class="form-control-sm" id="search"-->
<!--                   placeholder="제목으로 검색하기">-->
<!--            <button class="btn btn-warning bi bi-search" id="searchButton">검색</button>-->
<!--        </form>-->
<!--    </div>-->
    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tr th:each="notice : ${noticeList}">
                <td th:text="${notice.noticeId}">
            <td>
                <a th:href="@{/ypjs/board/notice/{noticeId}(noticeId=${notice.noticeId})}" th:text="${notice.noticeTitle}"></a>
            </td>
                <td>운영자</td>
                <td th:text="${notice.noticeDate }">
                <td th:text="${notice.noticeCnt}">
        </tr>
        </th:each>


    </table>
    <nav th:unless="${#lists.isEmpty(noticeList)}" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${page == 0} ? 'disabled'">
                <a class="page-link" th:href="@{'/ypjs/board/notice/notices?page=' + ${page - 1} + '&size=' + ${size}}">이전</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${page == i} ? 'active'">
                <a class="page-link" th:href="@{'/ypjs/board/notice/notices?page=' + ${i} + '&size=' + ${size}}" th:text="${i + 1}">1</a>
            </li>
            <li class="page-item" th:classappend="${page == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{'/ypjs/board/notice/notices?page=' + ${page + 1} + '&size=' + ${size}}">다음</a>
            </li>
        </ul>
    </nav>
</div>
<!-- 글 등록 버튼 -->
<div class="row">
    <div class="col text-center mt-2">
        <a href="/ypjs/board/notice/insert" class="btn btn-success btn-md" id="btn-insert">글 등록</a>
    </div>
</div>
<br>
<br>
</body>
<footer th:replace="frame/footer :: footer"></footer>
</html>
